<!-- <h1>Home#naturehomepage</h1><br> -->

<!-- products home page -->
<h1> <i>Welcome to my page </i></h1><br>
<div id='colorchange'>
	<h1 >Go Green .... </h1>
</div>
<blink><h2>Recycle ..... Reuse </h2></blink><br>


<table class = 'main'>
	<tr><td font-height =30px><%= link_to 'Picture ',  products_path(:prodtype => "Picture")%></td></tr>
	<tr><td><%= link_to 'Recycled Art', products_path(:prodtype => "Recycled Art") %></td></tr>
	<tr><td><%= link_to 'All art',  products_path %></td></tr>

</table>

